// main: style.less

body {
    font-family: @font-regular;
    @media @breakpoint-mobile {
        background-color: @neutral;
    }
}

a {
    font-weight: 700;
    text-decoration: none;
    color: @secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @font-regular;

}
.background-primary{
    background-color: @background-primary;
    color: @white;
}

.background-primary-light {
    background-color: @background-primary-light;
    color: @white;
}

.container-custom {
    padding: 0 44px;
}