// main: style.less

@import "vars";
@import "general";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


.navbar-main {

  background-color: @background-primary;

  @media @breakpoint-mobile {
    z-index: 999;
    position: fixed;
    width: 100%;
  }

  .navbar-brand {
    img {
      @media @breakpoint-mobile {
        width: 104px;
      }
    }
  }
}

.categories-menu {
  margin-right: 16px;

  @media @breakpoint-mobile {
    order: 1;
    margin-right: 0;
  }

  .dropdown-menu-large {
    min-width: 600px;
    display: none;
    position: absolute;
    z-index: 1000;
    left: 0;
    width: 70%;
    margin-left: 15%;
    border-radius: @border-radius-sm;
    border: @border;
    height: 380px;
    padding: 0;

    @media @breakpoint-mobile {
      width: 100%;
      margin-left: 0;
    }


    .nav-pills {
      width: 24%;
      background-color: @neutral;
      height: 440px;
      overflow-y: scroll;
      flex-wrap: nowrap;

      .nav-link {
        display: flex;
        align-items: center;
        padding: 10px;
        color: @font-primary  !important;

        &.active {
          background-color: white;
          border-left: 2px solid @secondary;
          border-radius: 0;
        }

        &:hover {
          background: none;
          background-color: white;
          border-left: 2px solid @secondary;
          border-radius: 0;
        }
      }
    }

    .tab-content {
      flex-grow: 1;
      padding: 0;
      width: 76%;
      height: 440px;
      overflow-y: scroll;
      flex-wrap: nowrap;

      &>.active {
        display: flex;
        flex-wrap: wrap;
      }

      .dropdown-item {
        display: flex;
        align-items: center;
        padding: 10px;
        width: 16.6%;
        flex-direction: column;
        font-size: 12px;
        white-space: pre-line;
        text-align: center;
        line-height: 1;

        @media @breakpoint-mobile {
          width: 33%;
        }

        img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          margin-bottom: 12px;
        }
      }
    }
  }

  .dropdown:hover>.dropdown-menu-large {
    display: block;
    height: 440px;
  }

  .nav-item {

    &.dropdown {
      position: inherit;

      .dropdown-toggle {

        &::after {
          @media @breakpoint-mobile {
            display: none;
          }
        }
      }

      .nav-link {
        color: @font-secondary;

        .icon-desktop {
          @media @breakpoint-mobile {
            display: none;
          }
        }

        .icon-mobile {
          @media @breakpoint-mobile-min {
            display: none;
          }
        }

        span {
          @media @breakpoint-mobile {
            display: none;
          }

        }
      }
    }

    .nav-link {
      font-size: 12px;
      padding: 6px;
    }
  }



  .dropdown-menu-large {
    min-width: 300px;
  }

  .dropdown {
    &:hover>.dropdown-menu {
      display: block;
    }
  }

  .dropdown-item {

    &:hover+.dropdown-submenu,
    .dropdown-submenu:hover {
      display: block;
    }
  }

  .dropdown-menu {
    display: none;

    &.show {
      display: block;
    }
  }

  .dropdown-submenu {
    position: relative;
    z-index: 1000;

    .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -1px;
      position: absolute;
    }

    .dropdown-item {
      white-space: normal;
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
}

.categories-menu,
.user-actions-menu {
  .nav-item-desktop {
    @media @breakpoint-tablet-xl {
      display: none;
    }
  }

  .nav-item-tablet {
    @media @breakpoint-mobile {
      display: none;
    }
  }
}

.search-form {
  @media @breakpoint-mobile {
    order: 0;
  }

  .input-group {
    position: relative;
    display: flex;
    align-items: center;

    .form-control {
      padding-right: 40px;
      border-radius: @border-radius-sm;
    }

    .btn {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      border: 0;
      background-color: white;
      padding: 0 10px;
      border-radius: @border-radius-sm;

      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

.user-actions-menu {
  align-items: center;

  @media @breakpoint-mobile {
    order: 2;
  }

  .nav-item {
    &.dropdown {
      .nav-link {
        padding: 6px;
      }
    }

    .nav-link {
      padding: 0;
    }
  }
}



.footer-features {

  padding: 24px 0;

  @media @breakpoint-mobile {
    display: none;
  }

  .footer-features-block {
    display: flex;
    align-items: flex-start;
    padding: 12px 0;
    gap: 24px;

    h4 {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 12px;
      color: @white;
    }

    p {
      color: @font-neutral;
      font-size: 14px;
      font-weight: 600;

    }
  }
}

.sticky-bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  background-color: @white;
  z-index: 998;

  @media @breakpoint-mobile-min {
    display: none;
  }

  .col {
    display: flex;
    justify-content: center;
    padding: 0 2px;

    .btn-sticky-bottom-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6px;
      font-size: 12px;
      padding: 0;
      position: inherit;

      &.show,
      &:active {
        border: 0;
      }

    }

    .btn-group {
      position: inherit;

      .dropdown-menu {
        width: 100%;
        bottom: 12px !important;
        border: 0;
        border-bottom: @border;
        border-radius: 0;
        padding: 0;

        li {
          padding: 12px 0;
          border-bottom: @border;
        }
      }
    }
  }


}


.menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

footer {
  .footer-desktop {
    display: block;
    background-color: @background-primary;

    @media @breakpoint-mobile {
      background-color: @neutral;
    }

    .footer-desktop-container {
      padding-top: 40px;
      padding-bottom: 40px;

      @media @breakpoint-mobile {
        display: none;
      }

      .footer-description {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 32px;

        .payment-methods {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;
          gap: 8px;
        }
      }

      .footer-navigation {
        display: flex;

        .footer-navigation__column {
          width: 33%;
          padding: 0 16px;

          .footer-navigation__column__title {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 8px;
            color: @white;
          }

          .list-group-plane {
            .list-group-item {

              background: transparent;
              color: white;
              border: 0;
              font-family: "Nunito Sans";
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              padding-left: 0;
              padding-right: 0;

              a {
                color: @font-neutral;
              }
            }
          }
        }
      }
    }

    .socials {
      display: flex;
      align-items: center;
      gap: 8px;

      figure {
        background-color: @neutral-dark;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
      }
    }

    .footer-bottom {
      display: flex;
      flex-direction: column;
      padding: 18px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-top: @border-on-dark;
      color: @font-neutral;

      .socials {
        display: none;

        @media @breakpoint-mobile {
          display: flex;
        }
      }

      p {
        margin-bottom: 0;
        font-size: 12px;
      }
    }
  }

  .footer-mobile {
    display: none;

    @media @breakpoint-mobile {
      display: block;
    }

    .footer-contact {

      background-color: @white;
      padding: 12px;
      gap: 12px;
      margin-bottom: 12px;

      .footer-contact__title {
        color: @font-primary;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .phone {
        color: @font-secondary;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .time {
        color: @font-primary-light;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.7;

        img {
          margin-right: 4px;
        }
      }

      .socials-btns {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-direction: column;

        a {
          display: flex;
          width: 100%;
          padding: 12px;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          border: @border;
          color: @font-primary;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 0;

          figure {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;

            &.telegram {
              background-color: #35A6DE;
            }

            &.viber {
              background-color: #7B42AD;
            }
          }
        }
      }
    }

    .accordion {
      .accordion-item {
        border: 0;
        border-radius: 0;
        margin-bottom: 12px;

        .accordion-button:not(.collapsed) {
          background-color: @white;
          color: @primary;
        }

        .list-group-plane {
          .list-group-item {
            border: 0;
            padding-left: 0;
            padding-right: 0;

            a {
              color: @font-primary;
              font-weight: 400;
            }
          }

        }
      }

    }
  }
}

#navbar-product {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background-color: @neutral;
  padding: 0 !important;
  scrollbar-width: none;

  /* для Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* для WebKit браузеров (Chrome, Safari, Edge) */
  }

  @media @breakpoint-mobile {
    background-color: @white;
  }

  .nav {
    flex-wrap: nowrap;
    border-bottom: 1px solid @secondary;

    .nav-item {
      flex-shrink: 0;
      padding: 4px 12px;

      &.active {
        border-bottom: 2px solid @secondary;

        a {
          color: @secondary;
        }
      }

      a {
        color: @font-primary;
        font-family: @font-technical;

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.56px;
        text-transform: uppercase;

      }
    }
  }
}

// Переменные для брейкпоинтов
@breakpoint-md: 768px;
@breakpoint-sm: 767px;

// Показывать табы только на десктопе
@media @breakpoint-mobile-min {
  .nav-tabs {
    display: flex;
  }

  .tab-content .tab-pane {
    display: none;
  }

  .tab-content .tab-pane.active {
    display: block;

  }
}

// Показывать все контенты сразу на мобильных устройствах
@media @breakpoint-mobile {
  .tab-content .tab-pane {
    display: block;
    opacity: 100%;
  }

  .nav-tabs {
    display: none;
  }
}


@carousel-width: 80%;
@main-image-width: 100%;
@main-image-max-width: 720px;
@thumbnail-size: 46px;
@thumbnail-margin: 5px;
@thumbnail-opacity: 0.7;
@thumbnail-hover-opacity: 1;
@transition-duration: 0.3s;

.carousel-container {
  width: @carousel-width;
  margin: 0 auto;
}

.fancybox img {
  width: @main-image-width;
  max-width: @main-image-max-width;
  height: auto;
  cursor: pointer;
}

#carousel-thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel__slide {
  width: @thumbnail-size;
  margin: 0 @thumbnail-margin;
}

.carousel__slide img {
  width: @thumbnail-size;
  height: @thumbnail-size;
  cursor: pointer;
  opacity: @thumbnail-opacity;
  transition: opacity @transition-duration;
}

.carousel__slide img:hover {
  opacity: @thumbnail-hover-opacity;
}

/* грид для продуктовой страницы  */
.product-column-wrap {
  display: grid;
  grid-template-columns: 1fr;
  /* По умолчанию для мобильной версии все блоки идут в одну колонку */
  gap: 10px;
  /* Отступы между блоками */
}

.product-column {
  box-sizing: border-box;
}

/* Стили для широких экранов */
@media @breakpoint-tablet-min {
  .product-column-wrap {
    grid-template-columns: 60% 40%;
    /* Левая колонка (60%), правая колонка (40%) */
    grid-template-rows: auto auto;
    /* Две строки в правой колонке */
    gap: 32px;
    /* Отступы между блоками */
  }

  .product-column__image {
    grid-column: 1 / 2;
    /* Первый блок занимает первую колонку */
    grid-row: 1 / 3;
    /* И занимает две строки, чтобы растянуться на всю высоту левой колонки */
    position: relative;
    overflow: auto;

    img {
      position: sticky;
    }
  }

  .product-column__title {
    grid-column: 2 / 3;
    /* Второй блок в правой колонке */
    grid-row: 1 / 2;

    /* И он идет в первой строке */
    h1 {
      font-size: 1.5rem;
    }
  }

  .product-column__description {
    grid-column: 2 / 3;
    /* Третий блок в правой колонке */
    grid-row: 2 / 4;
    /* И он идет во второй строке под вторым блоком */
  }

  .product-column__related {
    grid-column: 2 / 3;
    /* Третий блок в правой колонке */
    grid-row: 2 / 4;
    /* И он идет во второй строке под вторым блоком */
  }


}

/* Стили для мобильных устройств */
@media @breakpoint-mobile {
  .container-tst {
    grid-template-columns: 1fr;
    /* Все блоки в одну колонку */
  }

  .product-column__title {
    order: 1;
    /* Второй блок будет первым */
  }

  .product-column__image {
    order: 2;
    /* Первый блок будет вторым */

  }

  .product-column__description {
    order: 3;
    /* Третий блок будет третьим */
  }

  .product-column {
    width: 100%;
    /* Каждый блок занимает всю ширину экрана */
    margin-bottom: 10px;
  }
}

#productTabs {
  margin-bottom: 24px;
  border-bottom-color: @secondary;

  .nav-item {
    .nav-link {
      color: @font-primary;
      font-family: @font-technical;
      color: @black-600;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.56px;
      text-transform: uppercase;

      &:hover {
        border-color: transparent;
        border-bottom-color: @secondary;
        border-bottom-width: 2px;
      }

      &.active {
        color: @font-secondary;
        border-color: transparent;
        border-bottom-color: @secondary;
        border-bottom-width: 2px;
      }
    }
  }
}

.scu {
  color: @font-neutral-light;
  font-family: @font-technical;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rating {
  font-family: @font-technical;
}


/* Выбор цвета */


.image-select {
  display: flex;
  gap: 6px;
}

.image-option {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;

  img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border: 1px solid @black-300;
  }

  input[type="radio"] {
    display: none;
    /* Скрываем радиокнопки */
  }

  /* Когда радиокнопка выбрана, изображение получает обводку */
  input[type="radio"]:checked+img {
    border: 1px solid @red-500;
  }

  &:hover {
    img {
      opacity: 0.8;
    }
  }
}


#product {
  .form-group {
    display: flex;
    gap: 10px;


    input.quantity {
      width: 88px;
      border: @border;
      text-align: center;
    }

    #button-cart {
      flex: 1;
    }
  }
}

#button-cart {
  @media @breakpoint-mobile-min {
    min-width: 140px;
  }

}

#button-credit-parts {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: @white;
  border: @border;
  border-color: @black-300;
  border-radius: @border-radius-sm;
  padding: 12px;

  &:hover {
    border-color: @black-500;
  }

  p {
    color: @font-primary;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
    line-height: 1;
    text-align: left;

    span {
      font-size: 12px;
      color: @font-neutral-light;
    }

    ;
  }
}

.product-btn-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-element {
  background-color: @white;
  padding: 16px 0;
  border-radius: @border-radius-sm;
  margin-bottom: 16px;

  p {
    a {
      color: @primary;
      text-decoration: underline;
      font-weight: 400;
    }
  }

  @media @breakpoint-mobile {
    padding: 16px;
  }

  h3 {
    color: @font-primary;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .collapse {
    @media @breakpoint-mobile-min {
      display: block;
    }
  }

  iframe {
    width: 100%;
    height: 260px;

    @media @breakpoint-mobile-min {
      width: 600px;
      height: 400px;
    }
  }


}

.status {

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

.status-instock {
  color: @success;
}

.price {
  p {
    color: @font-primary;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    span {
      font-size: 16px;
    }
  }

  .prise-reduse {
    color: @font-neutral-light;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: line-through;
    margin-bottom: 2px;
  }
}


.btn-group-tools {
  gap: 10px;

  button {
    width: 44px;
    height: 44px;
    border: @border;
    border-radius: 50% !important;
    line-height: 1;
    transition: all .3s ease;

    &:hover {
      border: @border;
      border-color: @secondary;

      i {
        color: @secondary;
      }
    }

    i {
      color: @font-neutral-light;
    }
  }
}

.product-element-featured {
  border: 1px solid @secondary;
  padding: 12px;

  .product-group {
    i {
      color: @secondary;
    }
  }
}

.product-block {
  h4 {
    color: @font-primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  img {
    margin-bottom: 12px;
  }

  p.price {
    font-size: 12px;
  }

}

.table-delivary {
  tbody {
    tr {
      td {
        border: 0;

        &:last-child {
          text-align: right;
          color: @black-700;
        }

        &.caption {
          text-align: left;
          color: @font-neutral-light;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          border-top: @border;
        }
      }


    }
  }

  .table-tag {
    color: @white;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    border-radius: @border-radius-sm;
    background: @secondary;
    display: flex;
    padding: 3px 6px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: inline-flex;
  }
}

.product-gift {
  display: flex;
  gap: 16px;
  align-items: flex-start;

  h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    span {
      padding: 3px 6px;
      background-color: @secondary;
      color: @white;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.36px;
      text-transform: uppercase;
      margin-right: 4px;
      border-radius: 2px;
    }


  }

  p {
    &.price {
      color: @primary;
      text-decoration: none;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 0;


      span {
        color: var(--black-500, #808080);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration: line-through;
      }
    }
  }
}

.breadcrumb {
  margin-top: 20px;
  border: 0;

  li {
    &::after {
      top: -9px;
      right: -3px;
      border-right: 0;
      -webkit-transform: rotate(-62deg);
      -moz-transform: rotate(-62deg);
      -o-transform: rotate(-62deg);
      transform: rotate(-62deg);
    }
  }
}

#product-category {
  h1 {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: unset;
  }

}

.btn-default {
  border-radius: 2px;
  border: 1px solid #CCC;
  background: white;
  text-shadow: none;
}

.input-group {

  .input-group-addon {
    font-size: 12px;
    height: auto;
    margin-right: 6px;
  }
}

.product-thumb {
  padding: 12px;

  .caption {
    padding: 0;
  }

  h4 {
    a {
      color: @font-primary;
    }
  }

  .price {
    color: @black-900;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.18px;
  }

}

.btn-overlay {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: white;
  border: @border;
  right: 12px;

  &.wishlist {
    top: 12px;
  }

  &.compare {
    top: 66px;
  }
}

.btn-secondary {
  background-color: @secondary;
  color: @white;
  padding: 10px 16px;
}

.pagination {
  display: flex;
  gap: 4px;
  align-items: center;

  li {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: @border;
    border-radius: 2px;
  }
}

.promo-line {
  background-color: @secondary;
  display: flex;
  padding: 12px;

  @media @breakpoint-mobile {
    display: none;
  }

  .promo-line__block {
    display: flex;
    gap: 6px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-right: 1px solid @white;

    &:last-child {
      border-right: 0;
    }

    h4 {
      color: @white;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 2px;
    }

    p {
      color: @white;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 0;

    }
  }

}

.categories {
  list-style: none;
  display: flex;
  align-items: stretch;
  gap: 12px;
  flex-wrap: wrap;
  padding-left: 0;

  @media @breakpoint-mobile {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .category-block {
    border-radius: @border-radius-sm;
    border: @border;
    padding: 6px;
    max-width: calc(25% - 12px);

    @media @breakpoint-tablet-xl {
      max-width: calc(50% - 12px);
    }

    @media @breakpoint-mobile {
      max-width: calc(28% - 12px);
    }

    img {
      border-radius: 50%;
      width: 44px;
    }

    &.active,
    &:hover {

      border: 1px solid @red-300;
      background-color: #FFF5F5;
    }

    a {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 0;
      height: 100%;
      color: #000;
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  &.categories-main {


    .category-block {
      max-width: calc(10% - 12px);

      @media @breakpoint-tablet-xl {
        max-width: calc(25% - 12px);
      }

      @media @breakpoint-mobile {
        max-width: calc(30% - 12px);
      }


      a {
        flex-direction: column;
        text-align: center;
      }
    }
  }
}

.brands {
  list-style: none;
  display: flex;
  align-items: stretch;
  gap: 12px;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-evenly;

  @media @breakpoint-mobile {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .brand-block {
    border-radius: 50%;
    background-color: @neutral;
    max-width: calc(10% - 12px);

      @media @breakpoint-tablet-xl {
        max-width: calc(25% - 12px);
      }

      @media @breakpoint-mobile {
        max-width: calc(30% - 12px);
      }
    a {
      

      
      
     
      

      img {
        border-radius: 50%;
        width: 72px;
        @media @breakpoint-mobile {
          width: 44px;
        }
        
      }
    }
  }
}